[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
notebook = "*"
pandas = "*"
matplotlib = "*"
pyinstaller = "*"
pywin32-ctypes = {version = "*", sys_platform = "== 'win32'"}

[requires]
python_version = "3.8"

[scripts]
build = "pyinstaller --onefile analyse_directory.py --clean --hidden-import=pkg_resources.py2_warn"