[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
notebook = "*"
pandas = "*"
matplotlib = "*"
pyinstaller = "*"

[requires]
python_version = "3.8"
